html,
body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  background-image: url('/logoImg/cardbg-modified.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: auto;
  width: auto;
  display: grid;
}

/* Main Focus */

a {
  color: inherit;
  text-decoration: none;
}

.twomain {
  margin: 0;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: black;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
}

.guidecard-grid {
    width: 100%; 
    height: 500px; 
    margin: 1px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card3 {
  aspect-ratio: 22 / 9;
  width: 230px;
  background-size: cover;
  border-radius: 2.5vw;
  flex-direction: column;
  height: 180px;
  margin: 1rem;
  padding: 1.5rem;
}

.top-container, .bottom-container {
  height: 30%;
}

.top-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  color: white;
  gap: 0;
  margin-left: 2.75vw;
}

.top-container > h1 {
  margin-left: 2.5vw;
  letter-spacing: 0.3rem;
  font-size: 1.5vw;
}

.top-container > h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.top-container > h3 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5vw;
}

.bottom-container > .upper {
  font-size: 1.5vw;
  margin: 0;
  margin-left: 1.5vw;
}

.bottom-container > .middle {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

.bottom-container > .bottom {
  font-size: 14px;
}

.Lol {
  padding: 0.5em;
  color: #fff;
  display: inline-flex;
  align-items: center;
  margin: 1em;
}
.Lol::before,
.Lol::before {
  content: '';
  width: 0.75em;
  height: 0.75em;
  border-radius: 100%;
  margin-right: 0.5em;
}
.Lol--green::before,
.Lol--green::before {
  background-color: #008000;
}
.Lol--red::before,
.Lol--red::before {
  background-color: #ff4500;
}
.Lol--blue::before,
.Lol--blue::before {
  background-color: #1e90ff;
}
.Lol--orange::before,
.Lol--orange::before {
  background-color: #ffa500;
}
.Lol--purple::before,
.Lol--purple::before {
  background-color: purple;
}


@media only screen and (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
    margin-left: -0.1vw;
  }

  .top-container > h3 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 5vw;
  }

  .card3 {
    width: 100%;
    margin-left: -0.1vw;
  }
}

/* Media Queries */

@media only screen and (min-width: 601px) {
  .grid {
    width: 100%;
    flex-direction: column;
    margin-left: -0.1vw;
  }

  .top-container > h3 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 3.5vw;
  }

  .card3 {
    width: 100%;
    margin-left: -0.1vw;
  }
}

@media only screen and (min-width: 768px) {
  .grid {
    width: 100%;
    flex-direction: column;
    margin-left: -0.1vw;
  }

  .top-container > h3 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5vw;
  }
}

@media only screen and (min-width: 992px) {
  .grid {
    width: 100%;
    flex-direction: column;
    margin-left: -0.1vw;
  }

  .top-container > h3 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5vw;
  }

  .card3 {
    width: 100%;
    margin-left: -0.1vw;
  }
}

@media only screen and (min-width: 1200px) {
  .grid {
    width: 100%;
    flex-direction: column;
    margin-left: -0.1vw;
  }

  .top-container > h3 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5vw;
  }

  .card3 {
    width: 70%;
    margin-left: -0.1vw;
  }
}

/* Layout */

#container {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

#main {
  padding: 4% 1.5em;
  max-width: 55em;
  margin: 0 auto;
}

#header {
  padding: 1.5em;
  margin: 0 0 1em 0;
  background-color: #eee;
}

#footer {
  padding: 1.5em;
  margin: 2em 0 0 0;
  background-color: #eee;

}


/* Menu Styles */

.primary-nav {
  position: fixed;
  z-index: 999;
}

.menu {
  position: absolute;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

.open-panel {
  border: none;
  background-color:#fff;
  padding: 0;
}

.hamburger {
  background: #fff;
  position: relative;
  display: block;
  text-align: center;
  padding: 13px 0;
  width: 50px;
  height: 73px;
  left: 0;
  top: 0;
  z-index: 1000;
  cursor: pointer;
}

.hamburger:before {
  content:"\2630"; /* hamburger icon */
  display: block;
  color: #000;
  line-height: 32px;
  font-size: 16px;
}

.openNav .hamburger:before {
  content:"\2715"; /* close icon */
  display: block;
  color: #000;
  line-height: 32px;
  font-size: 16px;
}

.hamburger:hover:before {
  color: #777;
}

.primary-nav .menu li {
  position: relative;
}

.menu .icon {
  position: absolute;
  top: 12px;
  right: 10px;
  pointer-events: none;
  width: 24px;
  height: 24px;
  color: #fff;
}

.menu,
.menu a,
.menu a:visited {
  color: #aaa;
  text-decoration: none!important;
  position: relative;
}

.menu a {
  display: block;
  white-space: nowrap;
  padding: 1em;
  font-size: 14px;
}

.menu a:hover {
  color: #fff;
}

.menu {
  margin-bottom: 3em;
}

.menu-dropdown li .icon {
  color: #777;
}

.menu-dropdown li:hover .icon {
  color: #fff;
}

.menu label {
  margin-bottom: 0;
  display: block;
}

.menu label:hover {
  cursor: pointer;
}

.menu input[type="checkbox"] {
  display: none;
}

input#menu[type="checkbox"] {
  display: none;
}

.sub-menu-dropdown {
  display: none;
}

/* Wrapper */

.new-wrapper {
  position: absolute;
  left: 50px;
  width: calc(100% - 50px);
  transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
}

#menu:checked + ul.menu-dropdown {

    left: 0;
    -webkit-animation: all .45s cubic-bezier(0.77, 0, 0.175, 1);
            animation: all .45s cubic-bezier(0.77, 0, 0.175, 1);
}

.sub-menu-checkbox:checked + ul.sub-menu-dropdown {
    display: block!important;
    -webkit-animation: grow .45s cubic-bezier(0.77, 0, 0.175, 1);
            animation: grow .45s cubic-bezier(0.77, 0, 0.175, 1);
}


.openNav .new-wrapper {
  position: absolute;
  transform: translate3d(200px, 0, 0);
  width: calc(100% - 250px);
  transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
}


.downarrow {
  background: transparent;
  position: absolute;
  right: 50px;
  top: 12px;
  color: #777;
  width: 24px;
  height: 24px;
  text-align: center;
  display: block;
}

.downarrow:hover {
  color: #fff;
}

.menu {
  position: absolute;
  display: block;
  left: -200px;
  top: 0;
  width: 250px;
  transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  background-color: black;
  z-index: 999;
}

.menu-dropdown {
  top: 0;
  overflow-y: auto;
}

.overflow-container {
  position: relative;
  height: calc(100vh - 73px)!important;
  overflow-y: auto;
  border-top: 73px solid #fff;
  z-index: -1;
  display:block;
}

.menu a.logotype {
  position: absolute!important;
  top: 11px;
  left: 55px;
  display: block;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  color: #000;
  font-size: 21px;
  padding: 10px;
}

.menu a.logotype span {
  font-weight: 400;
}

.menu a.logotype:hover {
  color: #777;
}

.sub-menu-dropdown {
  background-color: #333;
}

.menu:hover {
  position: absolute;
  left: 0;
  top: 0;
}

.openNav .menu:hover {
  position: absolute;
  left: -200px;
  top: 73px;
}

.openNav .menu {
  top: 73px;
    transform: translate3d(200px, 0, 0);
    transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
}

label.hamburger {
    display: none;
  }

/* look and feel only, not needed for core menu*/

@-webkit-keyframes grow {

  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: block;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }

}

@keyframes grow {

  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: block;
    opacity: 0.5;
  }
  100% {
    opacity: 1
  }

}










/* Text meant only for screen readers. */

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Resposive Typography */

body,
button,
input,
select,
optgroup,
textarea {
  color: black;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: 800;
  text-align: center;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px 0.9375rem;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

.light {
    color:#ddd;
}

strong {
  font-weight: 600;
}

cite,
em,
i {
  font-style: italic;
}

p.big {
  font-size: 140%;
  line-height: 1.3em;
}

p.small {
  font-size: 80%;
  }

blockquote {
  display:block;
    margin: 1em 20px;
    padding: 0 1em;
    position:relative;
}

blockquote :before

blockquote cite,
blockquote em,
blockquote i {
  font-style: italic;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

sup,
sub {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  position: relative;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}


p {
    font-size: 1em;
    margin: 0 0 2em 0;
}

article:last-of-type, p:last-of-type {
  margin-bottom: 0;
}

p.intro {
    font-size:1.25em;
    line-height: 1.5;
    font-weight:300;
     margin: 0 0 1.5em 0;
}

h1, h2 {
    letter-spacing: -1px;
}

h1, .h1, h2, .h2, h4, .h4 {
  margin: 0 0 0.5em 0;
  line-height: 1.1;
}

h1, .h1 {font-size: 2.074em;}

h2, .h2 {font-size: 1.728em;}

h3, .h3 {font-size: 1.44em;}

h4, .h4 {font-size: 1.2em;}



/* Medium Screen Typography - Scale: 1.333 Perfect Fourth (thanks http://type-scale.com/)  */

@media screen and (min-width: 42em) {

  h1, .h1 { letter-spacing: -2px; }

  h1, .h1 {font-size: 3.157em;}

  h2, .h2 {font-size: 2.369em;}

  h3, .h3 {font-size: 1.777em;}

  h4, .h4 {font-size: 1.333em;}

  p { font-size:1.0625em; }

  p.intro { font-size:1.3em; }

}


/* Large Screen Typography  - Scale: 1.414 Augmented Fourth (thanks http://type-scale.com/)  */

@media screen and (min-width: 72em) {

  h1 { letter-spacing: -3px; }

  h1, .h1 { margin-bottom: 0.35em; font-size: 3.998em; }

  h2, .h2  { font-size: 2.827em; }

  h3, .h3 { font-size: 1.999em; }

  h4, .h4 { font-size: 1.414em; }

  p { font-size:1.125em; }

  p.intro { font-size:1.4em; }

}

.h3 {
  color: rgba(255, 255, 255, 0.5);
  margin-right: 2.5vw;
  font-size: 2vw;
}

.content:before {
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid hsl(200, 33%, 58%);
  position: absolute;
  top: 50%;
  margin-top: -9px; 
  right: 100%;
  z-index: 2; 
}

.content {
  background-color: hsl(200, 33%, 58%);
  color: white;
  align-items: top;
  text-decoration: none; 
  text-transform: uppercase;
  padding: 1px 4px 1px 2px;
  background: hsl(200, 33%, 58%);
  position: relative; 
  display: top;
  float: left;
  font-size: 13px;
  height: 15px;
}

.nav {
  width: 650px;
  height: 30px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 50px;
  margin: 50px auto;
  border-radius: 8px;
  box-shadow: 0 6px 15px rgba(54,54,54,0.2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav3 {
  width: 700px;
  height: 30px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 50px;
  margin: 50px auto;
  border-radius: 8px;
  box-shadow: 0 6px 15px rgba(54,54,54,0.2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav_innerContainer {
   margin-right: 30px;
    width: auto;
    height: auto;
}

.nav_menu_list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav2 {
  width: 700px;
  height: 60px;
  padding: 50px;
  margin: 50px auto;
  border-radius: 8px;
  box-shadow: 0 6px 15px rgba(54,54,54,0.2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ffffff;
}

.button.-blue {
  color: #FFFFFF;
  background: #416dea;
  display: flex;
  overflow: hidden;
  margin: 10px;
  padding: 12px 12px;
  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  border: 0 none;
  border-radius: 22px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  justify-content: center;
  align-items: center;
  flex: 0 0 160px;
  box-shadow: 2px 5px 10px #e4e4e4;
}

.button.-blue:hover {
  transition: all 150ms linear;
  opacity: 0.85;
}
.button.-blue:active {
  transition: all 150ms linear;
  opacity: 0.75;
}
.button.-blue:focus {
  outline: 1px dotted #959595;
  outline-offset: -4px;
}

.button.-blue2 {
  color: #FFFFFF;
  background: #416dea;
  display: flex;
  overflow: hidden;
  margin: 10px;
  padding: 12px 12px;
  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  border: 0 none;
  border-radius: 12px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  justify-content: center;
  align-items: center;
  flex: 0 0 160px;
  box-shadow: 2px 5px 10px #e4e4e4;
}

.button.-blue2:hover {
  transition: all 150ms linear;
  opacity: 0.85;
}
.button.-blue2:active {
  transition: all 150ms linear;
  opacity: 0.75;
}
.button.-blue2:focus {
  outline: 1px dotted #959595;
  outline-offset: -4px;
}

.button.-orange {
  color: #FFFFFF;
  background: #CC5500;
  display: flex;
  overflow: hidden;
  margin: 10px;
  padding: 12px 12px;
  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  border: 0 none;
  border-radius: 36px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  justify-content: center;
  align-items: center;
  flex: 0 0 160px;
  box-shadow: 2px 5px 10px #e4e4e4;
}

.button.-orange:hover {
  transition: all 150ms linear;
  opacity: 0.85;
}
.button.-orange:active {
  transition: all 150ms linear;
  opacity: 0.75;
}
.button.-orange:focus {
  outline: 1px dotted #959595;
  outline-offset: -4px;
}

.button.-cblue {
  color: #FFFFFF;
  background: #4984B8;
  display: flex;
  overflow: hidden;
  margin: 10px;
  padding: 12px 12px;
  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  border: 0 none;
  border-radius: 36px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  justify-content: center;
  align-items: center;
  flex: 0 0 160px;
  box-shadow: 2px 5px 10px #e4e4e4;
}

.button.-cblue:hover {
  transition: all 150ms linear;
  opacity: 0.85;
}
.button.-cblue:active {
  transition: all 150ms linear;
  opacity: 0.75;
}
.button.-cblue:focus {
  outline: 1px dotted #959595;
  outline-offset: -4px;
}

.button.-red {
  color: #FFFFFF;
  background: #e81416;
  display: flex;
  overflow: hidden;
  margin: 10px;
  padding: 12px 12px;
  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  border: 0 none;
  border-radius: 36px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  justify-content: center;
  align-items: center;
  flex: 0 0 160px;
  box-shadow: 2px 5px 10px #e4e4e4;
}

.button.-red:hover {
  transition: all 150ms linear;
  opacity: 0.85;
}
.button.-red:active {
  transition: all 150ms linear;
  opacity: 0.75;
}
.button.-red:focus {
  outline: 1px dotted #959595;
  outline-offset: -4px;
}

/* Guide First Card */

.cont-img {
  width: 100%;
  height: 210px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.cont-img .cont-perfil {
  width: 90%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.3);
  border-radius: 2.5vw;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1.5rem;
}
.cont-img .cont-perfil .span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cont-img .cont-perfil .span span {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: block;
  margin-right: 10px;
  overflow: hidden;
}
.cont-img .cont-perfil .span p {
  color: #000000;
  font-size: 1em;
  font-weight: 400;
}

.hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.hr.small
{
  margin:20px 0
}

pre {
  background-color: #282C35;
  color: white;
}
