body{
  height:100%;
  background-image: url("/bg.png");
  background-repeat: no-repeat;
  color: white;
}

header {
   text-align: center; 
   padding: 20px;
   background-color: #bbb35;
   color: white;
}

.moveleft {
  text-align: left;
}

nav {
  float: left;
  word-spacing: 1px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

footer {
  background-color: gray;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
  display: block;
  padding: 0;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.head {
  position: center;
  top: 0;
  font-size: 16px;
}

#wrapper {
    white-space: nowrap;
}

#wrapper div {
    background: #bbb;
    font-size: 28px;
    color: black;
    opacity: 0.5;
}

#wrapper corner {
  margin: bottom;
}

#wrapper .containerBox {
  position: relative;
  border: medium solid lightblue;
  height: 125px;
  width: 225px;
}

#wrapper .bottomright {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 18px;
  border: medium solid lightblue;
}

#wrapper .topleft {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 18px;
}

#wrapper img { 
  width: 100%;
  height: auto;
  opacity: 0.3;
}

code {
  background: gray;
}

.label {
  color: white;
  padding: 8px;
  height: 10px;
  width: 15px;
}

.bdfd {background-color: #2196F3;
  position: relative;
  top: 30px;
  opacity: 1.0;
  height: 10px;
  width: 15px;
} /* Green */
.fs {background-color: purple;
  position: relative;
  top: 30px;
  opacity: 1.0;
  height: 10px;
  width: 15px;
} /* Blue */
.djs {background-color: #2196;
  position: relative;
  top: 30px;
  opacity: 1.0;
} /* Orange */
.htmlcss {background-color: #f443;
  position: relative;
  top: 30px;
  opacity: 1.0;
} /* Red */
.other {background-color: #e7e7e7; color: black;
  position: relative;
  top: 30px;
  opacity: 1.0;
} /* Gray */